<div class="container">
  <div class="grid">
    <% @coins.each_with_index do |coin, index| %>
      <div class="col-xs-12 <%= index != 0 ? 'col-md-4' : '' %>">
        <div class="card <%= index === 0 ? 'active' : 'inactive' %>" onclick="selectCrypto(event.currentTarget)">
          <div class="icon">
            <%= image_tag ("https://www.cryptocompare.com/" + coin["Details"]["IMAGEURL"]) %>
          </div>
          <div class="card-header">
            <div class="title"><%= coin["Name"] %></div>
            <div class="price">
              <span><%= coin["Details"]["PRICE"] %></span>
            </div>
            <div class="percent <%= coin["Details"]["CHANGEPCT24HOUR"] >= '0' ? 'positive' : 'negative' %>">
              <span><%= coin["Details"]["CHANGEPCT24HOUR"] > '0' ? '+' + coin["Details"]["CHANGEPCT24HOUR"].to_s : coin["Details"]["CHANGEPCT24HOUR"] %></span>
            </div>
          </div>
          <div class="cover"></div>
          <div class="card-content">
            <div class="details">
              <table>
                <tbody>
                  <tr>
                    <td class="key">Price</td>
                    <td class="value"><%= coin["Details"]["PRICE"] %></td>
                  </tr>
                  <tr>
                    <td class="key">Market Cap</td>
                    <td class="value"><%= coin["Details"]["MKTCAP"] %></td>
                  </tr>
                  <tr>
                    <td class="key">Supply</td>
                    <td class="value"><%= coin["Details"]["SUPPLY"] %></td>
                  </tr>
                  <tr>
                    <td class="key">Volume (24h)</td>
                    <td class="value"><%= coin["Details"]["VOLUME24HOUR"] %></td>
                  </tr>
                  <tr>
                    <td class="key">High (24h)</td>
                    <td class="value"><%= coin["Details"]["HIGH24HOUR"] %></td>
                  </tr>
                  <tr>
                    <td class="key">Low (24h)</td>
                    <td class="value"><%= coin["Details"]["LOW24HOUR"] %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
